services:
  vault:
    image: hashicorp/vault:1.15.6
    container_name: vault
    restart: unless-stopped
    cap_add:
      - IPC_LOCK
    command: server
    environment:
      VAULT_ADDR: http://0.0.0.0:8200
      VAULT_API_ADDR: http://vault:8200
      VAULT_LOCAL_CONFIG: |
        {
          "ui": true,
          "disable_mlock": true,
          "listener": [{
            "tcp": {
              "address": "0.0.0.0:8200",
              "tls_disable": 1
            }
          }],
          "storage": {
            "file": {
              "path": "/vault/file"
            }
          }
        }
    volumes:
      - vault-file:/vault/file
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.http.routers.vault.rule=Host(`vault.streamline-internal.com`)"
      - "traefik.http.routers.vault.entrypoints=websecure"
      - "traefik.http.routers.vault.tls=true"
      - "traefik.http.services.vault.loadbalancer.server.port=8200"

volumes:
  vault-file:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /opt/streamline/vault-data

networks:
  web:
    external: true
