services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-main
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${PG_MAIN_DB}
      - POSTGRES_USER=${PG_MAIN_USER}
      - POSTGRES_PASSWORD=${PG_MAIN_PASSWORD}
    volumes:
      - /opt/streamline/data/postgres:/var/lib/postgresql/data
    networks:
      - web

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin-main
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      # Fix reverse proxy (Traefik + Cloudflare) login loop
      - PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION=False
      - PGADMIN_CONFIG_PROXY_X_HOST=True
      - PGADMIN_CONFIG_PROXY_X_PROTO=True
      - PGADMIN_CONFIG_PROXY_X_FOR_COUNT=2
    volumes:
      - /opt/streamline/data/pgadmin:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - web
    labels:
      traefik.enable: "true"
      traefik.docker.network: "web"

      traefik.http.routers.pgadmin-https.entrypoints: websecure
      traefik.http.routers.pgadmin-https.rule: Host("db.streamline-internal.com")
      traefik.http.routers.pgadmin-https.tls: "true"
      traefik.http.services.pgadmin.loadbalancer.server.port: "80"

      traefik.http.routers.pgadmin-http.entrypoints: web
      traefik.http.routers.pgadmin-http.rule: Host("db.streamline-internal.com")
      traefik.http.routers.pgadmin-http.middlewares: pgadmin-redirect-https
      traefik.http.routers.pgadmin-http.service: pgadmin

      traefik.http.middlewares.pgadmin-redirect-https.redirectscheme.scheme: https
      traefik.http.middlewares.pgadmin-redirect-https.redirectscheme.permanent: "true"

networks:
  web:
    external: true
